
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}


.board {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  box-shadow:5px 5px 5px #aaaaaa;
  cursor: pointer;
}
